/* About page */
.about #anti-cap {
  position:absolute;
  left:-1000;
  top:-1000;
}
.about img {
  width:100%;
}
.about p {
  font-size:1.8rem;
  color:hsl(0,0%,70%);
}
.about h4 {
  color:hsl(0,0%,50%);
}
.about .control-label {
  color:hsl(0,0%,70%);
}
.about .control-group {
  padding-top:10px;
  padding-bottom:10px;
}
.about #message {
  width:100%;
}
.about #email {
  width:60%;
}

.fa {
  margin-right:2rem;
}