
<div class="about">
    <div class="row">
		<div class="col-xs-3 col-sm-3 pic">
			<img src="about.jpg" />
		</div>
		<div class="col-xs-12 col-sm-6">
 			<h4>About Me</h4>
		 	<p>I like to make interesting pictures. I try to focus on details that are often overlooked.
			<p>Everybody has their irrational fears; one of mine is spiders. Seeing them through the lens is a different perspective.</p>
            <br/>
            <h4>Copyright</h4>
            <p>The photos here are available under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution, Non Commericial, Share Alike</a> license.</p>
            <p>You are free to use these photos for your personal or non-profit projects. If you would like to use any of the photos commerically, please get in touch.</p>
            <br />
            <h4>Contact</h4>
            <form id="contact" class="form-horizontal" method="post" action="/contact">
        	   <!--<legend>Contact</legend>-->

               <!-- <div id="anti-cap" class="control-group">
                    <div class="controls">
                        <input type="text" id="text">
                    </div>
                </div> -->

                <div class="control-group">
                	<!--<label class="control-label" for="message">Message</label>-->
                	<div class="controls">
                		<textarea id="message" name="message" placeholder="write me a message..." rows="6" cols="20" ></textarea>
                	</div>
                </div>
                <div class="control-group">
                    <!--<label class="control-label" for="email">Email</label>-->
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="your email address...">
                    </div>
                </div>
                <div class="control-group">
                	<div class="controls">
                	<button id="submit" class="btn">Send</button>
                        <span id="feedback"></span>
                	</div>
                </div>
            </form>
        </div>
    </div><!--.row-->

</div><!--.about-->

<script src="http://malsup.github.com/jquery.form.js"></script> 
<script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 

            // bind 'myForm' and provide a simple callback function 
            $('#submit').click (function() {
                $('#feedback').text("Sending message");
            });
            
            $('#contact').ajaxForm(function() { 
                $('#feedback').text("Thank you. Your message has been sent.");
                $('#message').val("");
                $('#email').val(""); 
            }); 
        }); 
</script> 
