<div class="about">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6" >
      <h2>About Me</h2>
      <p>I'm an aspiring web developer from Brisbane, Australia.</p>
      <p>When I am not hacking away or learning something new, I might be outside pestering insects for their photo.</p>
      <p>I have a long time fear of spiders. I started looking at them face to face through a camera lens. I still don't like them but I appreciate the new perspective.</p>

      <br/>
      
      <h2>Copyright</h2>
      <p>I you might want to use the pictures for your own use. Maybe you want a picture of a giant dead fly hanging on your wall or on a coffee cup. You are free to do that.</p>
      <p>However, if you you plan on using any pictures for a profitable gain, you need to ask me first.</p>
      <p>The pictures available here are under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution, Non Commericial, Share Alike</a> license.</p>
      
      <br />

      <h2>Contact</h2>
      <p>You can find me here.</p>
      <div class="social-icons center">
        <a href="https://github.com/elliotthilaire"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://twitter.com/elliotthilaire"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="http://au.linkedin.com/in/elliotthilaire"><i class="fa fa-linkedin-square fa-3x"></i></a>
      </div>
    </div>
  </div><!--.row-->
</div><!--.about-->
