<div class="about">
	<div class="row">
		<div class="span3">
			<img src="about.jpg"></img>
		</div>
		<div class="span6">
 			<h4>The photographer</h4>
		 	<p>I take pictures for fun. I love to capture details that are often overlooked.</p>
			<p>You might not guess it from some of the pictures; I hate spiders. Seeing them eye to eye creates a new perspective.</p>
			<p>I took all of the photos here but my wife gets credit for helping too. Sometimes she holds the flash.</p>
            <br/>
            <h4>Usage</h4>
            <p>The low resolution images available on this website are licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported</a> license.</p>
            <p>I value your feedback. If you see worth downloading, please tell me what you like and why; then take a copy for personal use.</p>
            <p>If you would like to use images for any other reason or would like a higher resolution copy, please get in touch.</p>
            <br />
            <h4>Website</h4>
            <p>Web development and hosting is another hobby of mine. This website is hand crafted and self hosted.</p>
 		</div>
 	</div><!--.row-->
 </div><!--.about-->

<hr />
    <div class="row">
    <div class="offset2 span6">
<form class="form-horizontal" action="javascript:void(0);">
	<!--<legend>Contact</legend>-->
    <h4>Contact</h4>
   <!-- <div id="anti-cap" class="control-group">
        <div class="controls">
            <input type="text" id="text">
        </div>
    </div> -->
    <div class="control-group">
    	<label class="control-label" for="email">Email</label>
    	<div class="controls">
    		<input type="text" id="email" name="email" placeholder="Email Address">
    	</div>
    </div>
    <div class="control-group">
    	<label class="control-label" for="message">Message</label>
    	<div class="controls">
    		<textarea id="message" name="message" placeholder="Message" rows="6" cols="20" ></textarea>
    	</div>
    </div>
    <div class="control-group">
    	<div class="controls">
    	<button id="submit" class="btn">Send</button>
    	</div>
    </div>
 </form>
</div>
</div>


<script>
jQuery(document).ready(function($) {
  $("#submit").click(function() {  
    // validate and process form here  

//    alert("thanks");
  });  
}); 
</script>