
<div class="about">
    <div class="row">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6" >
 			<h2>About Me</h2>
            <p>I'm an aspiring web developer from Brisbane, Australia. I like learning and discovering new things.</p>
            <p>When I am not hacking away at something, I might be outside pestering insects for their photo.</p>
            <p>I don't like spiders. Looking at them face to face creates a new perspective.</p>

            <br/>
            
            <h2>Copyright</h2>
            <p>I understand some people might want to use the pictures for their own use. Maybe you want a picture of a giant dead fly hanging on your wall or on a coffee cup. You are free to do that.</p>
            <p>If, however, you plan on exploiting any of these pictures for personal gain, you really need to ask me first.</p>
            <p>The low resolution copies of the pictures here are available under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution, Non Commericial, Share Alike</a> license. If you would like to use any of the photos for your blog or commerically, please get in touch.</p>
            
            <br />

            <h2>Contact</h2>
            <p>You can find me here.</p>
            <div class="social-icons center">
                <a href="https://github.com/elliotthilaire"><i class="fa fa-github fa-3x"></i></a>
                <a href="https://twitter.com/elliotthilaire"><i class="fa fa-twitter fa-3x"></i></a>
                <a href="http://au.linkedin.com/in/elliotthilaire"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </div>
        </div>
    </div><!--.row-->
</div><!--.about-->
