<div class="about">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6" >
      <h2>About Me</h2>
      <p>
        I'm a software developer that lives in Tasmania, Australia.
        I like to take photos of things you don't normally pay attention to.
        I'm scared of spiders-being behind a camera lens makes them less scary.
      </p>
      <p>Sometimes I write at <a href="https://elliotthilaire.net">elliotthilaire.net</a>.</p>

      <br/>

      <h2>Copyright</h2>
      <p>You might want to use the pictures for your own use. Maybe you want a picture of a giant dead fly hanging on your wall for some reason, that's ok.</p>
      <p>If you would like to use any pictures for profitable gain, you need to ask me first.</p>
      <p>In other words, the pictures available here are under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution, Non Commericial, Share Alike</a> license.</p>

      <br />

      <h2>Contact</h2>
      <p>You can find me here.</p>
      <div class="social-icons center">
        <a href="https://github.com/elliotthilaire"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://twitter.com/elliotthilaire"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="http://au.linkedin.com/in/elliotthilaire"><i class="fa fa-linkedin-square fa-3x"></i></a>
      </div>
    </div>
  </div><!--.row-->
</div><!--.about-->
