<div class="gallery">
  <% @photos.each do |photo| %>
    <div class="photo col-xs-12 col-sm-6 col-md-4">
        <a class="fancybox" rel="gallery" href="/<%= photo.slug %>" >
            <img src="<%= photo.image.thumb('300x300').url %>" />
        </a>
    </div><!--col-xs-4-->
  <% end %>
</div>

<a id="link_to_top" href="#top">Back to top</a>
