
<div class="gallery">
  <% @photos.each do |photo| %>
      <div class="photo">
	        <a href="gallery/<%=photo.name%>" >
	        	<img class="fill" src="<%=thumbnail_url_for(photo.url, "800x600")%>" alt="<%= photo.caption %>" />
	      	</a>
	      	<div class="info"></div>
    </div><!--col-md-4-->
  <% end %>
</div>

<a id="link_to_top" href="#top">Back to top</a>

