
<div class="gallery">
  <% @photos.each do |photo| %>
    <div class="photo col-xs-4">
	      <a class="fancybox" rel="gallery" href="gallery/<%=photo.slug%>" >
            <img src="<%= photo.image.thumb('300x300').url %>" />
	      </a>
    </div><!--col-xs-4-->

  <% end %>
</div>

<a id="link_to_top" href="#top">Back to top</a>

<script>
  $(document).ready(function() {
    $(".fancybox").fancybox({
      prevEffect  : 'none',
      nextEffect  : 'none',
      padding : 1,
      helpers : { 
        overlay: {
          css: {'background': 'hsla(0,0%,0%,0.8)'} 
        } // overlay 
      } // helpers
    });
  });
</script>


