
<div class="gallery">
  <% @photos.each do |photo| %>
    <div class="photo">
	    <div class="inline-block">
	        <a href="gallery/<%=photo.name%>" >
	        	<img src="<%=thumbnail_url_for(photo.url, "900x600")%>" alt=""></img>
	      	</a>
	      	<div class="info"></div>
	 	</div>
    </div>
  <% end %>
</div><!--.gallery-->
<a href="#top">Back to top</a>

