<!DOCTYPE html>
<html>
  <head>
    <title>Two Mushrooms (Photography Project by Elliott Hilaire)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm a software developer from Brisbane. When I'm outside I will either be on a bike or pestering insects for their photo.">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/app.css" media="screen">

    <%= partial '_social_meta_tags' %>
    <%= partial '_tracking_tags' %>
  </head>
  <body>
    <!-- this needs to stay near the top of the file until js is moved out of html -->
    <script src="/javascripts/application.js"></script>

    <div class="container">
      <%= partial '_nav' %>
      <%= yield %>
    </div>
  </body>
</html>
