
<div class="gallery">
    <div class="photo">
      <div class="inline-block">
        <img src="<%=thumbnail_url_for(@photo.url, "940x620")%>" alt=""></img>

        <div class="info">
<span>
        <ul class="like-buttons">
           <!-- <li class="g-plus-one">
                <g:plusone count="false"></g:plusone>
            </li>
            <li class="twitter-like">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
            </li> -->
            <li class="fb-like" data-href="http://<%=request.url%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
            </li>
        </ul></span>


          <span class="date">
            <%=@photo.date_taken.strftime("#{@photo.date_taken.day.ordinalize} %B, %Y")%>
          </span>
        </div><!--.info-->
      </div><!--.inline-block-->
    </div><!--.photo-->
</div><!--.gallery-->

<!--
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script> 

--> 


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>