

body {
  /*background-color: #121417; */
  background-image: url(/textures/dark_dotted2/dark_dotted2.png);
  background-repeat:repeat;
}



/* BEGIN navbar overrides */

.navbar {


  background:none;
  border:none;
  box-shadow:none;
}



/* END navbar overrides */



/* remove outline for clicked on links*/
a:focus
{
  outline:none;
}

/* remove blue underline
.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > a:hover
{
  border:none;
}
*/

/* make background of active transparent */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
  font-weight:bold;
  background:transparent;
}

/* END navbar overrides */


/* BEGIN Index Page */


.top {
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
}

.bottom {}


.box {
  position:relative;
  float:left;
  margin:1px;
  }

/* END Index Page*/

/* BEGIN Gallery */




.photo img {
  border:solid;
  border-color:white;
  border-width:1px;


}



.photo > .text > .title {margin-left:0px;}
.photo > .text > .date {margin-right:0px;}
.fancybox > img {

  border:solid;
  border-width:1px;
  border-color:gray;
}

#link_to_top {
    position:fixed;
    bottom:30px;
    left:30px;
}

/* END Gallery */

.info {padding-top:10px;}
.date {float:right;}
.media-buttons{float:left;}

/*BEGIN About */
#anti-cap {
  position:absolute;
  left:-1000;
  top:-1000;
}


ul.like-buttons{
float: left;
list-style: none;
margin: 0px 0px 0px 0px;
padding: 0;
}

ul.like-buttons li{
    display: block;
    float: left;
    margin-right: 0px;
}
li.twitter-like{
    margin-top: 2px;
}

#feedback {
  margin-left:10px;
  margin-right:10px;
}

#message {
  width:100%;
}

.control-group {
  position:relative;
  margin:0px;
  padding-top:10px;
  left:-20px;

}

.pic{
  margin-top:10px;
  text-align:center;
}

/*END About */

/*BEGIN Error*/

.error{
  text-align:center;
  padding:100px;
}

/*END Error*/		

html,body{height:100%;}

.container {
    height:100%;
}

.fill{
    max-width:calc(100% - 60px);
    max-height:100%;
}

.photo {
  text-align:center;
height:calc(100% - 120px);
}

